/*
* Adjust this stylesheet if you want to use custom images
* 
*/
.js .radio-rater, 
.radio-rater a:hover, 
.radio-rater a:active, 
.radio-rater a:focus, 
.radio-rater .current {
	background-image:url(/res/img/bigsmile.gif); /* rate trigger image */
}
.js .radio-rater .unrate a {
	background-image: url(/res/img/bigdelete.gif);  /* unrate trigger image */
}
.js .radio-rater {
	height:64px; /* should equal image height */
}
.js .radio-rater a, 
.radio-rater .current {
	height:64px; /* should equal image height */
	line-height:64px; /* should equal image height */
}